@model SecuritySummaryViewModel

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row top-buffer">
        <div class="col-md-2">
            <a href="/Security/Login?ReturnUrl=/SecuritySummary">Logout</a>
        </div>
        <div class="col-md-2">
            <a href="/.auth/logout?post_logout_redirect_uri=/SecuritySummary">Logout</a>
        </div>
        <div class="col-md-2">
            <a href="/.auth/me" target="_blank">Auth Me Info</a>
        </div>
    </div>
</div>

<h2>User Info</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            Is Logged In
        </div>
        <div class="col-md-6">
            @Model.IsLoggedIn
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            First Name
        </div>
        <div class="col-md-6">
            @Model.FirstName
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            Last Name
        </div>
        <div class="col-md-6">
            @Model.LastName
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            Email Address
        </div>
        <div class="col-md-6">
            @Model.EmailAddress
        </div>
    </div>
</div>

<h2>Claims Summary</h2>

<div class="container-fluid">
    <div class="row">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>
                        Issuer
                    </th>
                    <th>
                        Type
                    </th>
                    <th>
                        Value
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Claims)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Issuer)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Value)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<h2>Header Summary</h2>
<div class="container-fluid">
    <div class="row">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>
                        Key
                    </th>
                    <th>
                        Value
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Headers)
                {
                    @if (item.Key.StartsWith("X-MS-") == true)
                    {
                        <tr>
                            <td>
                                <b>@item.Key</b>
                            </td>
                            <td>
                                <b>@item.Value</b>
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td>
                                @item.Key
                            </td>
                            <td>
                                @item.Value
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>


<h2>Cookie Summary</h2>
<div class="container-fluid">
    <div class="row">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>
                        Key
                    </th>
                    <th>
                        Value
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Cookies)
                {
                    <tr>
                        <td>
                            @item.Key
                        </td>
                        <td>
                            @item.Value
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>
